*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bgi2.jpg);
    opacity: 80%;
  
    
}
.fullforms{
    position: relative;
    margin: 100px;
    margin-left: 100px;

    

}


