*{
  margin: 0;
  padding:0;
}
.a{
  background-color: purple;
  width: 100%;
}
.a h1{
  width: 100%;
  color: white;
  text-align: center;
}

.a h2{
  width: 100%;
  color: white;
  text-align: left;

}
.a h4{
  width: 100%;
  color: white;
  text-align: center;
}
.a h3{
  width: 100%;
  color: white;
  text-align: left;
  margin-left: 10px;
}
.a h2{
  width: 100%;
  color: white;
  text-align: left;
  margin-left: 10px;
}
.b{
  background-color: purple;
  width: 100%;

}
.b h3{
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 15px;
}
.c{
  width: 100%;
  margin-left: 300px;
  margin-top: 10px;
  color: black;
}
.d{
  background-color: purple;
  width: 100%;
}
  .d h3{
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 15px;
  }
  table, th, td{
  
    border: 1px solid black;
    text-align: center;
  }
  .f{

    background-color: purple;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
  .g{
    width: 100%;
    margin-left: 300px;
    margin-top: 10px;
  }
  .h{
    background-color: purple;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
    .i{
      width: 100%;
      margin-left: 300px;
      margin-top: 10px;
      color: black;
    }
    .j{
      background-color: purple;
      width: 100%;
      text-align: center;
      color: white;
      margin-top: 10px;
    }
    .k{
      width: 100%;
      margin-left: 300px;
      margin-top: 10px;
      color: black;
    }
    .l{
      background-color: purple;
      width: 100%;
      text-align: center;
      color: white;
      margin-top: 10px;
    }
    .m{
      width: 100%;
      margin-left: 300px;
      margin-top: 10px;
      color: black;
    }
    .n{
      background-color: purple;
      width: 100%;
      text-align: center;
      color: white;
      margin-top: 10px;
    }
    .o{
      width: 100%
      text-align: center;
      margin-left: 150px;
    }
    .p{
      width: 100%;
      margin-left: 1000px;
      margin-top: 50px;
    }
