
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/basic reset/
* {margin: 0; padding: 0;}

/*html {
  height: 100%;
  background-color: rgb(64,64,64);
}*/
 body{
  height: 100%;
  background-color: rgb(64,64,64);
 }


 
 .a {
  height: 30px;
  background: #1c326c;
  /padding: 20px;/
  
 }
 .a h2{
  padding: 5px;
  margin: 5px;
  font-size: 20px;
 }
 /form-row/
 .form-row{
  width: 100%;
 }

label{
  font-weight: bold;
}

 /*.form-group {
  padding-left: 10px;
 }*/
 select{
  margin-top: 25px;
 }

.b{
  margin-top: 35px;
  margin-left: 50px;  
}


.msform {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
    width: 90%;
       
    background: #fff;
  margin: 50px auto;
  text-align: center;
  position: relative;
      border: 3px solid  rgb(237,33,33);
      padding: 30px 0;
      text-align: left;
} 
.msform h1{
  font-size: 30px;
  font-weight: 300;
  color: #444;
  padding-left: 30px;
} 
.msform fieldset{
  border: none;
  position: relative;
} 

.msform fieldset:not(:first-of-type) {
  display: none;
}  
.fs-wrapper-btn {
  clear: both;
  padding-top: 30px;
  padding-left: 30px;
}

.fs-title {
  font-size: 18px; 
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
  padding-left: 30px;
}

.msform .action-button {
  width: 180px;
      background-color: rgb(237,33,33);
  font-weight: 300;
  color: white;
  border: none; 
  cursor: pointer;
  padding: 10px 5px;
  margin: 0 auto;
  outline: none;
  transition: all .4s;
  border-radius: 0px;
      margin-top: -20px;
      margin-left: 35%;

}
.msform  .fs-wrapper-btn .previous {
  margin-right: 25px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #D4D4D4;
  margin-bottom: 20px;
}

.progressbar {
      overflow: hidden;
    counter-reset: step;
    width: 100%;
    margin: 15px auto 20px;
  background-color: #999;
  padding: 15px 0;
}
.progressbar li {
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bolder;
  width: 20%;
  float: left;
  position: relative;
  text-align: center;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}

.progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; 
}
.progressbar li:first-child:after {

  content: none; 
}

.progressbar li.active:before,  .progressbar li.active:after{
  background-color: rgb(237,33,33);
  color: white;
}
.vtcha{
  max-width: 100%;
}
.vtcha .item-box,.vtcha .target-box{
  width: 170px;
  margin: 10px auto 0;
}



.msform input {
      float: left;
    height: 40px;
    color: #b4b4b4;
    font-size: 16px;
    border-radius: 3px;
    padding: 0 7px;
    margin: 25px 17px 0 0;
}
.fs-item input[type=radio]+label  {
  float: left;
    background: url(https://meedget.ru/images/radio_icon.png)no-repeat;
    background-position:5px 0;
    color: #666;
    font-family: 'Open Sans Light','Open Sans',Arial;
    cursor: pointer;
    padding: 50px 0 0;
    width: 100%;
}

.fs-item input[type=radio]:checked+label {
    color: rgb(237,33,33);
    font-family: 'Open Sans Semibold','Open Sans';
    background: url(https://meedget.ru/images/radio_active_icon.png)no-repeat;
     background-position:5px 0;
}

.fs-item input[type=checkbox], .fs-item input[type=radio] {
    display: none;
    margin-left: 59px;
}

.fs-item {
  float: left;
  width: 33.3333333%; 
  text-align: center;

}
.msform .fs-item input.input_phone {  
    border: 2px solid #b4b4b4;
    margin-left: 30px;
}
.msform .fs-item input.input_phone:focus {
  border-color: green;
  outline: none;
}
.msform  .last-bth  {
  position: absolute;
  right:20px;
  bottom: 3px;
}